on: [push, pull_request]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - run: pip install poetry
      - run: poetry install
      - run: echo $DOCKERHUB_PASSWORD
        env:
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      - run: make test
      - run: env
      - if: ${{ success() }}
        run: if [[ "$GITHUB_REF" == "refs/heads/master" ]]; then make pypi push; fi
      - if: ${{ failure() }}
        run: ./inspect_fixtures.sh

